<table class="table table-bordered">


@if (ViewBag.ReactList != null)
{

    foreach (var item in ViewBag.ReactList)
    {
        <tr>
            <td><b>user</b></td>
            <td><b>react</b></td>

        </tr>
            <tr>
                <td>@item.UserId</td>

                <td>@item.TypeReact</td>

            </tr>
           
    }
}
</table>