@{
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}
<!DOCTYPE html>
<html>
<body>

    <div class="container">
        <br />
        <br />
        <h3>Quiz</h3>
        <hr />

     <form  action="@Url.Action("GetResults","Question")" method="post" >
        <ol>
            @foreach (var question in ViewBag.Questions)
            {
                <li>
                    <b style="color:black"> @question.Content</b>
                   
                    <ul>
                        @foreach (var answer in question.Answers)
                        {
                            <li>
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                <input type="radio" name="question_@answer.QuestionID" value="@answer.AnswerID" />
                                @answer.Content

                            </li>
                        }
                    </ul>
                </li>
            }

        </ol>
        <br />
        <li><input class="btn btn-default" type="submit" value="Create" /></li>
        <br />
        </form>
    </div>
</body>
<!--style="color:aqua" -->
</html>
