@{
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>
    <br />
    <div class="container">
        <br />

        &nbsp;
        &nbsp;
        &nbsp;
        <br />
        <h2>Result</h2>
        <br />
        <br />
        Score: @ViewBag.score
        &nbsp;
        &nbsp;
        &nbsp;
        <br />
        <br />
        <br />
        <a class="btn ticker-btn" @Html.ActionLink("Back to List", "IndexC")></a>
    </div>
    <br />
    <br />
    <br />
</body>
</html>
